.header.header-eight .navbar-area.sticky-menu {position: fixed;z-index: 999;}
.header.header-eight .navbar-area.sticky-menu .av-column-3.my-auto .logo {position: relative;top: 0;}
.footer-two .footer-above {}
.theme-slider div.theme-content {max-width: 100%;}
.colorpress-theme .theme-slider .text-right [class*="av-column-"]:first-child {order: 1;}
.colorpress-theme .theme-slider .text-center [class*="av-column-"]:first-child {flex-basis: 100%;max-width: 100%;}
.colorpress-theme .main-slider .owl-item .side-img img {width: auto;height: auto;}
.colorpress-theme .theme-slider .text-center [class*="av-column-"]:nth-child(2) img {margin: auto;}
.info-wrapper2 .widget.widget-contact .contact-area span.title {font-size: 18px;font-weight: 600;}
.info-section [class*="av-column-"]:nth-child(2) .widget-contact {border-left: none !important;}
.info-section-one .info-wrapper:first-child, .info-section-one .info-wrapper:last-child {border-radius: 0;}
.features-section {overflow: hidden;position: relative;z-index: 0;}
.features-item {text-align: center;padding: 35px 25px;background: #fff;-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);transition: all .3s cubic-bezier(.645,.045,.355,1);}
.features-item .modern-icon {font-size: 92px;bottom: 0;top: -30px;right: -30px;}
.features-home .features-item {}
.tilter:hover .features-item, .tilter:focus-within .features-item, .features-item:hover, .features-item:focus-within {background: var(--sp-gradient1);}
.features-item .tilter__deco--lines {position: absolute;top: 0;right: 0;bottom: 0;left: 0;width: 94%;height: 90%;border: 1.5px dashed var(--sp-secondary-dark);margin: auto;border-radius: 0;z-index: 0;}
.tilter:hover .features-item .tilter__deco--lines, .tilter:focus-within .features-item .tilter__deco--lines, .features-item:hover .tilter__deco--lines, .features-item:focus-within .tilter__deco--lines {border-color: #fff;}
.features-item .features-icon {display: inline-block;margin-bottom: 12px;}
.features-item .features-icon i {font-size: 50px;background: var(--sp-gradient1);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.features-home .features-item .features-icon i {font-size: 40px;}
.features-home .features-item .features-icon img {width: 40px;}
.features-home .features-item .modern-icon {width: 92px;}
.features-item .features-title {font-weight: 600;}
.features-home .features-item .features-title {background: var(--sp-gradient1);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.features-item .features-title a {pointer-events: visible;text-decoration: none;color: inherit;-webkit-transition: all 0s cubic-bezier(.645,.045,.355,1);transition: all 0s cubic-bezier(.645,.045,.355,1);}
.features-item p {font-size: 15px;margin-bottom: 0;margin-top: 10px;}
.features-home .features-item p {margin-top: 6px;}
.tilter:hover .features-item .features-title a, .tilter:focus-within .features-item .features-title a, .tilter:hover .features-item .features-icon i, .tilter:focus-within .features-item .features-icon i, .tilter:hover .features-item p, .tilter:focus-within .features-item p, .tilter:hover .features-item .features-title, .tilter:focus-within .features-item .features-title, .features-item:hover .features-title a, .features-item:focus-within .features-title a, .features-item:hover .features-icon i, .features-item:focus-within .features-icon i, .features-item:hover p, .features-item:focus-within p, .features-item:hover .features-title, .features-item:focus-within .features-title {background: transparent;color: #fff;-webkit-text-fill-color: unset;}
.sidebar ol.wp-block-latest-comments {padding: 0;}
.wp-block-media-text .wp-block-media-text__content {line-height: 1;}
.sidebar ul.wp-block-social-links li {padding-top: 0 !important;padding-bottom: 0 !important;}
.post-section ol.wp-block-latest-comments {padding: 0;}
.wp-block-buttons {margin: 15px 0;}
.wp-block-table figcaption {font-weight: 600;text-align: center;}